:root {
  --splash-green: rgb(0, 199, 7);
  --login-green: rgb(164, 194, 182);
  --signup-blue: rgb(77, 143, 220);

  --splash-font: Georgia, "Times New Roman", Times, serif;
  --uph-font: "Varta", sans-serif;
  --session-font: Verdana, Geneva, sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

* {
  font-family:
    "Capsule Sans Display",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif;
}

a:hover,
button:hover {
  cursor: pointer;
}


/*** MODAL DEFAULTS ***/
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: #fffafa;
  width: 50rem;
  height: 16rem;
  display: flex;
  justify-content: center;
}

.cf:after {
  /* splash nav */
  content: "";
  display: block;
  clear: both;
}

/* other */
.logo-small {
  /* uhn, signup */
  max-height: 3rem;
  margin-left: 0.3125rem;
}

/* 
potentials?
background-color: white;
*/

/*
grid css?? 
.col-1-2 {
  display: flex;
  width: 50%;
}

.col-2-2 {
  display: flex;
  width: 50%;
}
*/
