/* For login & signup forms */

.link-lgreen-only {
  color: rgb(164, 194, 182);
}

.button-lgreen {
  display: inline-flex; 
  align-items: center; 
  /* box-sizing: border-box; */
  justify-content: center; 
  text-align: center;
  height: 48px; 
  width: 144px; 
  background-color: rgb(164, 194, 182); 
  text-decoration: none; 
  color: white; 
  /* border-radius: 24px;  */
  font: inherit;
  font-weight: bold; 
}

/* stop scroll */
.session-form {
  /* display: flex;
  flex-direction: row-reverse; */

  /* position: fixed; 
  overflow-y: hidden;
  top: 0; right: 0; bottom: 0; left: 0;  */

  /* display: grid;
  grid-template-columns: 50% 50%;
  height: 100%; */
}

.div-wrap {
  /* overflow: hidden; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}

.login-image {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  max-width: 50%;
  height: 100%;
  margin: 0;
}

.div-other {
  display: flex;
  flex-direction: row;
  max-width: 50%;
  max-height: 100%;
  /* position: absolute; */
  /* float:right; */
  justify-content: center;
  /* align-items: center; */
}

.div-inside {
  display: block;
  width: 412px;
  margin-left: 52px;
}

.login-header {
  font-family: inherit;
  font-size: 41px;
  
}

/* login inputs */

.login-input {
  display: block;
  width: 380px;
  height: 16px;
  padding: 15px 20px;
  font-family: inherit;
  /* position: absolute; */
  /* left: 800px; */
}

button {
  display: inline-flex;
}



/* signup inputs */