/* For login & signup forms */

/* login */
.login-main-div {
  display: grid;
  grid-template-columns: 50% 50%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  a {
    color: var(--login-green);
    text-decoration: none;
  }

  h2 {
    font-size: 1.35rem;
    font-weight: 400;
    margin: 0 0 1.3rem;
  }

  p, form > a {
    height: 1.3rem;
    margin: 0.8rem 0 .5rem;
    font-size: 0.8rem;
    display: block;
  }

  input {
    display: block;
    width: 23rem;
    height: 1rem;
    padding: 1rem 1.25rem;
    font-family: inherit;
    background-color: #f5f8fa;
    border: none;
    border-radius: 0.25rem;
  }
  input:hover {
    background-color: white;
    border: 1px solid lightgray;
    margin: -1px;
  }
  input:focus {
    outline-color: var(--login-green);
  }

  .login-img {
    grid-row: 1;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

/* login form */
.login-form-div {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3.5rem;

  .login-buttons {
    display: flex;

    button {
      height: 3rem;
      width: 9rem;
      border: none;
      border-radius: .375rem;
      background-color: var(--login-green);
      color: white;
      font: inherit;
      font-size: 0.8125rem;
      margin-right: 2.8rem;
    }
    button:hover {
      cursor: pointer;
      background-color: rgb(127, 164, 128);
    }
  }
}

/******** shared ********/
[class*="-error-list"] {
  list-style: none;
  padding-left: 0;

  li:last-child {
    margin-bottom: -1.78rem;
  }
}

.login-error-list {
  font-family: inherit;
  font-size: 0.815rem;
  font-weight: 600;
}

.other-link-div {
  display: flex;
  font-weight: 5;
  font-family: var(--session-font);
  margin: 2.75rem 0 0;

  span {
    color: rgb(204, 218, 226);
    letter-spacing: 0.25px;
    font-family: inherit;
    padding-right: 0.625rem;
  }

  > a {
    text-decoration: underline;
    font-family: inherit;
  }
}
/* ************************ */

/* signup */
.signup-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  padding-top: 0.625rem;

  a,
  .signup-blue-link {
    color: var(--signup-blue);
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: inherit;
  }

  /* nav */
  .signup-nav-bar {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 65rem;
    height: 5rem;

    img:hover {
      filter: invert(61%) sepia(12%) saturate(6556%) hue-rotate(189deg)
        brightness(88%) contrast(95%);
    }

    div {
      display: flex;
      justify-content: space-evenly;
      padding-left: 3.5rem;

      span {
        height: 1.3rem;
        width: 11.5rem;
        padding-bottom: 0.875rem;
        border-bottom: 3px solid rgb(180, 189, 194);
        display: block;
        text-align: center;
      }
      span:first-of-type {
        border-bottom: 3px solid var(--signup-blue);
      }
    }
  }

  /* footer */
  .signup-footer {
    width: 65rem;
    color: lightgray;
    font-size: 0.75rem;
    text-align: justify;
    border-top: 1px solid lightgray;
    margin-top: 8rem;

    .footer-links > a {
      padding-right: 10px;
    }
  }
}

/* body */
.signup-body {
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  width: 65rem;
  margin-top: 2rem;

  /* signup form */
  .signup-form {
    width: 41rem;

    h2 {
      font-size: 3rem;
      margin-top: 0;
      margin-bottom: 0.75rem;
      font-weight: 50;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    input {
      width: 17.5rem;
      height: 1.5rem;
      padding: 0.625rem 1rem;
      margin-top: 0.875rem;
      border: 1px solid lightgray;
      border-radius: 4px;
      font-size: 0.875rem;
    }
    > input {
      width: 100%;
      box-sizing: border-box;
      height: 2.75rem;
    }

    .signup-names {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .signup-buttons {
      display: flex;
      margin-top: 1.875rem;

      button {
        background-color: var(--signup-blue);
        color: white;
        width: 18.75rem;
        border-radius: 0.25rem;
        border: none;
        font-weight: 50;
        font-size: 1.2rem;
        padding: 0.625rem 1rem;
        margin-right: 1.25rem;
      }
      button:hover {
        background-color: rgb(54, 112, 196);
      }
    }
  }

  /* video section */
  .signup-video-section {
    display: flex;
    flex-direction: column;
    width: 23.75rem;
    align-items: center;

    video {
      border-radius: 10px;
      margin: 1.25rem;
    }

    div {
      margin: 0.2rem 2.5rem;
      font-size: 0.875rem;
      color: lightgray;
      display: flex;
      flex-direction: column;
      text-align: center;

      :nth-child(-n + 2) {
        position: relative;
        transform: translateY(0px);
        animation: slide-down 4s ease;
        /* animation-delay: 700ms; */
      }
    }
  }
}

@keyframes slide-down {
  from {
    top: -50px;
  }
  to {
    top: 0px;
  }
}
