.user-home-main {
  background-color: rgb(30, 30, 30);
}

.add-watchlist {
  position: absolute;
  top: 110px;
}

/***********************************/
/* NAVBAR */

.home-navbar-main {
  display: flex;
  width: 100%;
  height: 64px;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  background-color: rgb(30, 30, 30);
  z-index: 10;
}

 .home-logo { 
  /* current details from logo small on sessions page */
  margin-left: 50px; 
  padding-bottom: 0;
  object-fit: contain;
  /* color: rgb(238, 103, 065); */
  filter: invert(56%) sepia(74%) saturate(2965%) hue-rotate(334deg) brightness(96%) contrast(94%);
}

.home-logo:hover {
  filter: invert(99%) sepia(2%) saturate(65%) hue-rotate(340deg) brightness(114%) contrast(92%);
}

.home-navbar-right {
  height: 100%;
}

.home-nav-button {
  color: rgb(238, 103, 065);
  /* background-color: rgb(30, 30, 30); */
  background-color: transparent;
  margin-right: 30px;
  outline: none;
  padding: 2px 6px;
  border: none;
  height: 100%;
  cursor: pointer;
}

.home-nav-button:focus {
  text-decoration: underline;
  font-weight: 600;
  margin-left: -2.5px;
}

.home-nav-account {
  margin-right: 50px;
}

.account-dropdown {
  width: 298px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 51px;
  top: 50px;
  /* border: 1px solid black; */
  text-align: left;
  background-color: rgb(49, 49, 49);
  /* z-index: 5; */
}

.account-dropdown-user {
  height: 32px;
  padding-left: 30px;
  /* width: 100%; */
  color: white;
  border-bottom: 1px solid whitesmoke;
  margin: 0;
  padding-top: 16px;
}

.account-dropdown > button {
  padding-left: 30px;
  text-align: left;
  border: none;
  background-color: transparent;
  height: 48px;
  width: 100%;
  color: white;
}

.account-dropdown > button:hover {
  /* color: rgb(238, 103, 065); */
  background-color: rgb(240, 121, 88);
}

.account-dropdown > button:focus {
  outline: none;
  /* transition: 0.4s ease-in-out; */
}

.contact-div {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 55px;
  font-family: inherit;
  font-size: 13px; 
  /* padding-right:  */
}

.contact-name {
  margin-top: 5px;
  margin-bottom: 5px;
}

.contact-more {
  color: rgb(238, 103, 065);
  /* text-decoration: none; */
  margin-top: 5px;
  margin-bottom: 5px;
}

.contact-more:hover {
  color: rgb(255, 76, 27);
}

.contact-email {
  color: white;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;}

.contact-email:hover {
  color: rgb(238, 103, 065);
}

/* .home-logout {
  outline: 1px solid white;
}  */

.home-icon {
  padding-right: 10px;
}

.user-search-wrap {
  width: 480px;
  height: 35px; 
  border: 1px solid rgb(47, 47, 47);
  display: flex;
  color: lightgray;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
}

.user-search-wrap > form {
  display: flex;
  align-items: center;
}

.user-search-wrap:hover {
  /* background-color: #F5F8FA; */
  background-color: rgb(49, 49, 49);
  box-shadow: 2px 1px 2px 4px rgb(52, 52, 52);
  transition: border-color 300ms ease 0s, box-shadow 300ms ease 0s;
}

.user-search-wrap:focus {
  background-color: rgb(49, 49, 49);
  color: lightgray;
}

.fa-search {
  margin-left: 20px;
}

.navbar-stock-search {
  height: 95%;
  margin-left: 10px;
  margin-right: 10px;
  width: 440px;
  border: none;
  outline: none;
  background-color: transparent;
}

.navbar-stock-search, select, textarea{
  color: whitesmoke;
}

.messages-dropdown {
  width: 375px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 100px;
  top: 50px;
  /* border: 1px solid black; */
  text-align: left;
  background-color: rgb(49, 49, 49);
}

.messages-dropdown-label {
  height: 30px;
  padding-left: 30px;
  /* width: 100%; */
  color: white;
  margin: 0;
  padding-top: 16px;
  border-bottom: 1px solid whitesmoke;
}

.messages-dropdown > button {
  padding-left: 30px;
  /* text-align: left; */
  border: none;
  background-color: transparent;
  width: 100%;
  color: white;
}

.messages-dropdown > button:focus {
  outline: none;
}

.messages-dropdown button:first-of-type:hover {
  background-color: rgb(240, 121, 88);
}

.home-msg {
  width: 100%;
  display: flex;
  height: 100px;
  padding-left: 0;
  margin-left: -15px;
}

.home-view-all {
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  /* border-top: 1px solid white; */
  /* justify-content: center; */
  margin-left: -12px;
}

.home-view-all:hover {
  color: rgb(240, 121, 88);
  /* background-color: red; */
}

.home-msg-img {
  /* box-sizing: border-box; */
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /* display: none; */
}

.home-msg-text {
  text-align: left;
  padding-left: 10px;
}

.home-msg-text > h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}


/***********************************/
/*  WATCHLIST COMPONENT  */

.watchlist {
  position: fixed;
  right: 210px;
  top: 94px;
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  height: 80vh;
  border: 1px solid rgb(66, 73, 78);
  border-radius: 6px;
  color: whitesmoke;
  background-color: rgb(49, 49, 49);
  z-index: 2;
  
}

.watchlist-table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid rgb(66, 73, 78);
}

/* td {
  padding: 0;
} */

td > p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: inherit;
  font-size: 13px; 
  margin-left: 0;
  margin-right: 0;
}

.watchlist-header {
  width: 100%;
  margin: auto;
  border-bottom: rgb(66, 73, 78);
}

.watchlist-header-title {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
}

[class*='stock-col-name-'] {
  text-align: left;
}

[class*='stock-col-graph-'] {
  margin: auto;
}

[class*='stock-col-fin'] {
  text-align: right;
  /* margin: / */
}

[class*="stock-row-"]:hover {
  background-color: rgb(31, 33, 36); 
}


/******************************/
/* GRAPH */
.user-home-graph-container {
  padding-top: 110px;
  /* border: 1px solid black; */
  width: 680px;
  margin-left: 205px;
  background-color: transparent;
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.user-home-graph-container > h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.company-name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  padding-right: 8px;
  font-weight: 500;
}

.current-price {
  font-family: inherit;
  font-size: 18px;
  padding-right: 6px;
}

.pos-prev-close {
  color: #00C805;
}

.neg-prev-close {
  color: red;
}

.graph-div {
  padding-top: 10px;
}


/***************************************/
/* NEWS */

.user-home-news-container > h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 26;
  color: whitesmoke;
  width: 680px;
  margin-left: 205px;
}

.user-news-div {
  height: 156px;
  border-top: 1px solid rgb(66, 73, 78);
  border-bottom: 1px solid rgb(66, 73, 78);
  display: flex;
  width: 680px;
  margin-left: 205px;
}

.user-news-div:hover {
  background-color: rgb(39, 39, 39);
}

.user-news-div > a {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  text-decoration: none;
}

.user-inner-news-div {
  display: flex;
  height: 106px;
  width: 100%;
  color: whitesmoke;
  margin: auto;
  justify-content: space-between;
}

.user-news-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 40px;
}

.user-news-left > h6 {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

[class*="source-name-"] {
  font-size: 12px;
  font-weight: 600;
}

[class*="news-title-"] {
  font-size: 14px;
  font-weight: normal;
}

[class*="news-des-"] {
  font-size: 12px;
  font-weight: normal;
}

.user-news-right {
  display: flex;
  flex-direction: column;
}

[class*="news-pic-"] {
  width: 130px;
  height: auto;
  border-radius: 4px;
}

