/* stocks home */
.stock-comp-main-div {
  background-color: rgb(30, 30, 30);
}

.stock-comp-main-div > h2{
  padding-top: 100px;
  margin: 0;
}

.ups-main-div {
  display: flex;
  
}

.ups-main-trans {
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
}

[class*="stock-comp-"] > span {
  color: whitesmoke;
}