.user-portfolio-home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

.uph-div-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

[class*="uph-"] {
  font-family: 'Varta', sans-serif;  
}

.user-portfolio-home-div > h1 {
  align-self: start;
  width: 80vw;
  padding-bottom: 6px;
  border-bottom: 3px solid #f2f2f2;
  margin-left: auto;
  margin-right: auto;
}








.uph-table {
  width: 80vw;
  margin-top: 15px;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.uph-table th {
  text-align: right;
  background-color: #98c9a3;
  border: 1px solid #ddd;
  padding: 6px 6px 6px 20px;
  font-family: 'Varta', sans-serif;  
  font-size: 14px;
  font-weight: bolder;
}

.uph-table > tbody > tr > td {
  font-family: 'Varta', sans-serif;  
  font-size: 14px;
  padding: 6px 6px 6px 20px;
  border: 1px solid #ddd;
  text-align: right;
}

.uph-table > tbody > tr > td > a {
  font-family: 'Varta', sans-serif;  
  font-size: 14px;
  color: black;
}

.uph-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.uph-table tr:hover {
  background-color: #edeec9;
}

[class*="uph-tr-"] > *:first-child {
  text-align: left;
  border-right: 1px solid rgb(189, 183, 183);
  padding-left: 6px;
  padding-right: 20px;
}

[class*="uph-tr-"] > *:nth-child(2) {
  padding-left: 0;
  padding-right: 6px;
}